<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/navbar.css">
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <link rel="stylesheet" href="/stylesheets/index.css">
    <link rel="stylesheet" href="/stylesheets/result-table.css">
  </head>
  <body>
    <header class="header">
      <div class="switch-container">
        <!-- Cambiar idioma -->
        <span class="lang-name">ES</span>
        <label class="switch">
          <input id="lang_switch" type="checkbox">
          <span class="slider round"></span>
        </label>
        <span class="lang-name">EN</span>
      </div>
      <nav class="navbar">
        <span class="menu-title-big"><%= __('Ads web search') %> - <%= __('Enter parameters to filter') %></span>
        <div id="menuToggle">
          <input type="checkbox" />
          <span class="span1"></span>
          <span class="span2"></span>
          <span class="span3"></span>
          <form name="search-form" id="search-form" method="GET">
            <ul id="menu">
              <li class="menu-title"><%= __('Enter parameters to filter') %></li>
              <li>
                <label for="name"><%= __('Name') %></label>
                <input type="text" id="name" name="name" placeholder="<%= __('Name of the advertisement') %>">
              </li>
              <li>
                <label for="tag">Tag</label>
                <input type="text" id="tag" name="tag" placeholder="<%= __('Enter a tag') %>">
              </li>
              <li>
                <label for="currency"><%= __('Currency') %></label>
                <select name="currency" id="currency">
                  <option value="" disabled selected><%= __('Select Currency') %></option>
                  <option value="USD">USD</option>
                  <option value="EUR">EUR</option>
                  <option value="CLP">CLP</option>
                </select>
              </li>
              <li>
                <label for="price"><%= __('Price') %></label>
                <input type="text" id="price" name="price" placeholder="<%= __('Input a fixed price or rank') %>">
              </li>
              <li>
                <label for="sort"><%= __('Sort') %></label>
                <select name="sort" id="sort">
                  <option value="" disabled selected><%= __('Select field to sort') %></option>
                  <option value="name"><%= __('Name') %></option>
                  <option value="sell"><%= __('Sell/Buy') %></option>
                  <option value="price"><%= __('Price') %></option>
                  <option value="currency"><%= __('Currency') %></option>
                </select>
              </li>
              <li>
                <label for="limit"><%= __('Limit') %></label>
                <input type="text" id="limit" name="limit" placeholder="<%= __('Input records quantity') %>">
              </li>
              <li>
                <label for="start">Start</label>
                <input type="text" id="start" name="start" placeholder="<%= __('Insert start position') %>">
              </li>
              <li id="submit-wrapper">
                <button id="search-submit" type="submit"><i class="icon-search"><%= __('Search') %></i></button>
              </li>
            </ul>
          </form>
        </div>
        <div class="logo-wrapper">
        </div>
      </nav>
    </header>
    <main class="main">
      <div class="results">
        <table>
          <caption><%= __('Search Results') %> - <%= __('Found') %> <%=ads.count %> <%= __('Advertisements') %></caption>
          <thead>
            <tr>
              <th scope="col"><%= __('Name') %></th>
              <th scope="col"><%= __('Sell/Buy') %></th>
              <th scope="col"><%= __('Price') %></th>
              <th scope="col"><%= __('Currency') %></th>
              <th scope="col"><%= __('Tags') %></th>
              <th scope="col" colspan="2"><%= __('Image') %></th>
            </tr>
          </thead>
          <tbody>
            <% ads.advertisements.forEach(ad => { %>
              <tr>
                <td data-label="<%= __('Name') %>"><%=ad.name%></td>
                <td data-label="<%= __('Sell/Buy') %>"><% if(ad.sell) {%> <%= __('Sell') %> <%} else { %> <%= __('Buy') %> <% }%> </td>
                <td data-label="<%= __('Price') %>"><%=ad.price %></td>
                <td data-label="<%= __('Currency') %>"><%=ad.currency %></td>
                <td data-label="<%= __('Tags') %>"><%=ad.tags %></td>
                <td data-label="Thumb">
                  <img class="thumbnail" src="/images/thumbs/<%=ad.picture %>" alt="<%= __('Article thumbnail image') %>">
                </td>
                <td data-label="<%= __('Image') %>"><a href="/images/fullsize/<%=ad.picture %>" target="blank"><%= __('View') %></a></td>
              </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    </main>
    <footer class="footer">
    </footer>
    <script src="/js/main.js"></script>
  </body>
</html>